# Node & Dependencies
node_modules/
dist/
build/
.next/
.cache/
.vite/
.netlify/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db
db.sqlite3

# Python specific files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
venv/
.venv/
.pytest_cache/
.pytest_cache*/

# IDEs & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Hackathon / Temporary items
problem.txt
session-ses_*.md
Dataset *.json
list.md

Referensi/
